.editVideo {
  background-image: url(../../assets/videobg.jpg);
  background-size: cover;
  height: 100vh;
}
.editForm {
  display: block;
  margin: auto;
  width: 25vw;
}
.Vform-label {
  color: black;
}
